html{
    /* height: 100%; */
}

body{
    /* height: auto; */
    margin: 0;
    /* position: relative; */
}

/* .header{ */
    /* border: solid red; */
    /* overflow: "hidden"; */
    /* height: 100%; */
    /* float: left; */
    /* width: 100%; */
    /* background-color: lightgreen;  */
/* }  */

.container{
    display:flex;
    flex-direction: column;
    /* min-height: 100%; */
    /* max-height: 100%; */
    /* height: 100%; */
    /* position: relative; */
    height:100vh;
    /* padding:2px; */
    /* border: solid purple 1px; */
}

header{
    /* width: 100%; */
    height: 30px;
    background-color: lightgreen; 
    /* position: relative; */
}

.content{
    /* display: inline-block; */
    /* width: auto; */
    /* width: inherit;     */
    /* height: inherit; */
    /* height: calc(100% - 80px); */
    /* height: 800px; */
    /* height: 100%; */
    /* overflow:auto;   */
    /* position: relative; */
    /* min-height: 100%; */
    /* height:auto; */
    /* height: 100%;
    width: auto;
    overflow:auto;  */
    /* height: 100%; */
    /* height: 100%; */
    /* overflow-y:scroll; */
    border:solid 1px red;
    flex-grow: 1;    
    /* border: solid 1px red; */
    /* display: block; */
    /* padding: 20px; */
    /* float: left; */
    /* margin: 0; */
    display:flex;
    flex-direction: row;
}

.wrapper{
    height: auto;
    min-height: 100%;
    /* max-height: 100%; */
}

.left-panel{
    float: left;
    width: 200px;
    height: auto;
    /* min-height: 100%; */
    background-color: lightgray;
    /* display: grid; */
    /* display: block; */
    /* overflow: auto;  */
    /* border: solid 1px red; */
}

.users-panel{
    height: 50%;
    /* overflow-y: scroll; */
    /* overflow:auto;  */
    /* display: block; */
    /* width: 100%; */
    /* height: 100%; */
    /* display: grid; */
}

.rooms-panel{
    height: auto;
    /* overflow-y: scroll; */
    /* overflow:auto;  */
    /* display: block; */
    /* width: 100%; */
    /* height: 100%; */
    /* display: grid; */
}

.right-panel{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.messages-panel{
    /* height: auto; */
    /* height: 100%; */
    /* display: block; */
    flex-grow: 1;
    border: solid green 1px;
}

.editor-panel{
    height: 100px;
    border: solid blue 1px;
}

footer{
    background-color: #101010;
    color: white;
    /* padding-left: 20px; */
    /* margin-top: 30px; */

    /* position: fixed;
    left:0px;
    bottom:0px;
    /* height:30px; */
    /* width:100%;  */
    height: 50px;
 }

 .selected-elem{
    border: solid 1px darkcyan;
    /* background-color: lightgoldenrodyellow; */
 }

label {
    display:block;
}

textarea {
    display:block;
    width: 50%;
    margin: 5px;
}