.header{
    /* border: solid red; */
    /* overflow: "hidden"; */
    /* height: 100%; */
    float: left;
    width: 100%;
    background-color: lightgreen;
}

.content{
    /* height: 100%; */
    width: auto;
    overflow:auto;
    border: solid 1px red;
    display: block;
    /* padding: 20px; */
    /* float: left; */
}

.left-panel{
    float: left;
    width: 200px;
    height: 100%;
    background-color: lightgray;
    display: block;
    /* overflow:auto;  */
    /* border: solid 1px red; */
}

.users-panel{
    /* overflow:auto;  */
    /* width: 100%; */
    /* height: 100%; */
}

.rooms-panel{
    /* overflow:auto;  */
    /* width: 100%; */
    /* height: 100%; */
}

.messages-panel{
    height: 100%;
    display: block;
}

footer{
    background-color: #101010;
    color: white;
    /* padding-left: 20px; */
    /* margin-top: 30px; */

    position: fixed;
    left:0px;
    bottom:0px;
    /* height:30px; */
    width:100%;
 }