{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} {% endblock title %}</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        {% block scripts %}
        {% endblock scripts %}
    </head>
    <body>
        <div class="container">
            <header>
                {% if user.is_authenticated %}
                    Добро пожаловать, {{ user.get_username }}.
                {% else %}
                    Добро пожаловать, странник.
                {% endif %}
            </header>
            <div class="content">
               {% block content %}
               {{ flatpage.content }}
               {% endblock content %}
            </div>
            <footer>
                <p>©НИИ Python'оведения и несмешных шуток, 2023</p>
            </footer>
        </div>
    </body>
</html>